# Global Allowlist Rules

[allowlist]
  description = "Global Allowlist"
  regexes = [
    # Use notsecret as the standard allow tag.
    # It must begin at the start of the line, comment chars, or a space
    # It must end at the end of the line or with a space
    '''(^|\#|\/\/|\s)notsecret(\s|$)''',
    # Mimic the behavior of newer gitleaks versions
    # https://github.com/zricethezav/gitleaks/blob/96eed6aa0f507fe0c21bb46bec32637dc4cb1a9f/detect/detect.go#L226
    '''gitleaks:allow''',
  ]
  paths = [
    '''Godeps''',
    '''gems\/''',
    '''node_modules''',
    '''vendor''',
    # Quickstarts are FP heavy
    '''quickstart''',
    # Handle a lot of the github/docs cases
    '''lib\/rest\/static\/.+\/((.+)?github.+\.json|ghes.+\.json)''',
    # Ignore checked-in python packages
    '''lib\/python[^\/]+\/site-packages''',
    # Common extensions to ignore
    '''(.*?)(png|jpg|gif|doc|docx|pdf|bin|xls|pyc|zip|css)$''',
    # Ignore go mod files
    '''(^|\/)(go.mod|go.sum)$''',
    # Ignore gitleaks related stuff
    '''(^|\/).?gitleaks''',
    # Ignore aws secrets check baseline file
    '''(^|\/)\.?secrets.baseline$''',
    # Ignore a github spec file
    '''(^|\/)specs\/github\.json$''',
  ]
