name: Test

defaults:
  run:
    shell: bash

env:
  GO_VERSION: '1.24'
  GO111MODULE: on

on:
  push:
    branches:
      - main

  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review

    branches:
      - main

permissions:
  contents: read

jobs:
  test:
    name: Validate patterns
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # pin@v4

      - name: Setup go
        uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # pin@v5
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Run tests
        run: make clean test

      - name: Ensure no pattern changes from tests
        run: test -z "$(git status -s)"

